<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="api_url" value="http://127.0.0.1:8000/api" />
    <add key="mysql_database" value="nom_de_la_base_de_donnees" />
    <add key="mysql_user" value="root" />
    <add key="mysql_password" value="..." />
  </appSettings>
</configuration>
