<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key = "api_url" value="https://my-sneakers-shop.fr/api"/>
        
        <add key = "mysql_database" value="kera6497_my-sneakers"/>
        <add key = "mysql_user" value="kera6497_adlen"/>
        <add key = "mysql_password" value="789-AA__s"/>
    </appSettings>
</configuration>
